<div class="control-section">
    <ejs-grid [dataSource]='data | async'[pageSettings]='pageOptions' allowSorting= 'true' allowGrouping= 'true' (dataStateChange)= 'dataStateChange($event)'
    [enableInfiniteScrolling]="true"
    [enableVirtualization]="true"
    height='300px'
    [groupSettings]="groupOptions"
    [infiniteScrollSettings]="{ initialBlocks: 1 }"
    [loadingIndicator]="loadingIndicator"
    [pageSettings]="pageOptions">
        <e-columns>
            <e-column field= "OrderID" headerText="Order ID" width="130" ></e-column>
            <e-column field= "CustomerID" headerText="Customer Name" width="150"></e-column>
            <e-column field= "ShipName" headerText="Ship Name" width="200"></e-column>
            <e-column field= "ShipCity" headerText="Ship City" width="150"></e-column>
        </e-columns>
    </ejs-grid>


</div>